# Paystack
NEXT_PUBLIC_PAYSTACK_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
PAYSTACK_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Stripe
STRIPE_SECRET_KEY=sk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_XXXXXXXXXXXXXXXXXXXXXXXXXXXX

# USD → NGN fallback rate (used if live fetch fails)
NEXT_PUBLIC_USD_TO_NGN_RATE=1600
